/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  height: 100%;
}
.main-child-component{
  margin-top: 70px !important;
}
mat-toolbar {
  --default-height: 50px;
  z-index: 10000;
  p{
      font-family: ui-sans-serif;
      margin: 0px 5px 0px !important;
  }
}

mat-toolbar[color="primary"] {
  height: var(--default-height);
}

.mat-toolbar.mat-primary {
  background: #212529;
  color: #fff;
}


// form styles

.register-form{
  max-width: 350px;
  margin: auto;
  p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }

}
